@media (min-width: 100px) and (max-width: 824px) {
	body{
		font-family:'Rubik', sans-serif;
		
	}
	nav{
		background: #382929;
		color: white;
	}
	nav ul{
		display: block;
	}
	.lista{
		border-bottom: 1px solid black;
		text-align: left;
	}
	.menu{
		display: block;
		color: white;
		background-color: #382929;
		padding: 20px;
		font-size: 30px;
		cursor: pointer;
	}
	.esconder{
		display: none;
	}
}